/* File: src/assets/css/form.css */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.modal .error {
  color: #e74c3c;
  margin-bottom: 15px;
}

.modal .success {
  color: #28a745;
  margin-bottom: 15px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input,
.modal textarea,
.modal select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.modal input[type="number"] {
  -moz-appearance: textfield; /* Prevent number input spinner in Firefox */
}

.modal input:focus,
.modal textarea:focus,
.modal select:focus {
  border-color: #80bdff;
  outline: none;
}

.modal button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #218838;
}

.modal .dropdown-container {
  margin: 10px 0;
}

.modal .dropdown {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.modal button:last-of-type {
  background-color: #dc3545;
  margin-top: 15px;
}

.modal button:last-of-type:hover {
  background-color: #c82333;
}
